<div class="heading_page">
    <h5>Dashboard <i class="bi bi-chevron-right"></i> orders <i class="bi bi-chevron-right"></i> Add order</h5>
    <h2>Add order</h2>
    <h5>Add a new order to your company</h5>
</div>

<div class="layout add_page ">
    <form action="/orders/store" method="post">
        <div class="col-6 level-left">
            <div class="level-top">
                <div class="heading">
                    <h2>Custumer</h2>
                </div>
                <div class="layout">
                    <div class="form-group mt-3">
                        <label>Choised user</label>
                        <select class="form-select mt-2 list_custumers" name="name">
                            <option>--- Custumers ---</option>
                            {{#each custumers}}
                                <option data-phone="{{this.phone}}" data-address="{{this.address}}" value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <label>Phone</label>
                        <input type="text" class="form-control mt-2" name="phone"  placeholder="Your phone...">
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label>Address</label>
                        <input type="text" class="form-control mt-2" name="address"  placeholder="Your address...">    
                    </div>
                </div>
            </div>
            <div class="level-top mt-3">
                <div class="heading">
                    <h2>Status order</h2>
                </div>
                <div class="layout">
                    <div class="form-group mt-3">
                        <label>Choised pay method</label>
                        <select class="form-select mt-2" aria-label="Default select example" id="sale" name="sale">
                            <option>--- Method ---</option>
                            <option value="Thanh toán khi nhận hàng">Thanh toán khi nhận hàng</option>
                            <option value="Visa">Thanh toán qua thẻ Visa</option>
                            <option value="Atm nội địa">Chuyển khoản qua ATM</option>
                        </select>
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label>Status payment</label>
                        <select class="form-select mt-2" aria-label="Default select example" id="sale" name="sale">
                            <option>--- Status ---</option>
                            <option value="Thành công">Thành công</option>
                            <option value="Đang xử lý">Đang xử lý</option>
                            <option value="Thất bại">Thất bại</option>
                        </select>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-6 level-right">
            <div class="level-top">
                <div class="heading">
                    <h2>Product</h2>
                </div>
                <div class="layout">
                    <div class="form-group mt-3">
                        <label>Choised product</label>
                        <select class="form-select mt-2 list_products" name="name">
                            <option>--- Products ---</option>
                            {{#each products}}
                                <option data-price="{{this.price}}" data-name="{{this.name}}" value="{{this._id}}" data-image="{{this.thumbnail_main}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <button class="btn btn-primary mt-3 btn_add_products" type="button">
                        <i class="bi bi-plus"></i>
                        Thêm
                    </button>
                    <div class="form-group mt-3">
                        <table class="table table_products">
                            <thead class="align-middle">
                                <th><input type="checkbox" name="" id=""></th>
                                <th class="text-center"><button class="btn btn-primary">Xóa</button></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </thead>
                            <tbody class="tbody_products">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-save">
                <i class="bi bi-floppy me-2"></i>
                Save order
            </button>
        </div>
    </form>
</div>
<div class="footer">
    Thank you for creating with HuyHung | 2024 © 
</div>

