<div class="heading_page">
    <h5>Dashboard <i class="bi bi-chevron-right"></i> Orders</h5>
    <h2>Orders</h2>
    <div class="option_table is-between">
        <div class="is-between search_right">
            <a href="/orders/add" class="add_btn btn btn-primary">
                <i class="bi bi-plus-lg"></i> Add orders
            </a>
            <div class="export_btn">
                <i class="bi bi-file-earmark-arrow-down-fill"></i>
                Export
            </div>
        </div>
    </div>
</div>

<div class="layout comments">
    <div class="title_table is-between">
        <div class="title">
            <h3>Orders list</h3>
            <p class="sub_heading">List of all orders on the website</p>
        </div>
        <div class="search is-center">
            <div class="wrapper_search">
                <form action="/orders">
                    <button type="submit" class="btn_position is-center"><i class="bi bi-search"></i></button>
                    <input type="text" name="timkiem" placeholder="Enter customer name to search">
                </form>
            </div>
            <div class="seleted">All orders</div>
            <div class="selection">
                <i class="bi bi-three-dots"></i>
            </div>
        </div>
    </div>
    <table class="table table_convert">
        <thead>
            <tr>
                <th scope="col"><input type="checkbox" name="" id=""></th>
                <th scope="col">
                    User
                    <a href="?sort=userName&order={{#if (and (eq currentSort 'userName') (eq currentOrder 'asc'))}}desc{{else}}asc{{/if}}">
                        <i class="bi {{#if (eq currentSort 'userName')}}{{#if (eq currentOrder 'asc')}}bi-caret-up-fill{{else}}bi-caret-down-fill{{/if}}{{else}}bi-chevron-expand{{/if}}" 
                        style="font-size:12px; color:#000;">
                        </i>
                    </a>
                </th>
                <th scope="col">Order code<i class="bi bi-chevron-expand"></i></th>
                <th scope="col">
                    Order date
                    <a href="?sort=order_date&order={{#if (and (eq currentSort 'order_date') (eq currentOrder 'asc'))}}desc{{else}}asc{{/if}}">
                        <i class="bi {{#if (eq currentSort 'order_date')}}{{#if (eq currentOrder 'asc')}}bi-caret-up-fill{{else}}bi-caret-down-fill{{/if}}{{else}}bi-chevron-expand{{/if}}" 
                        style="font-size:12px; color:#000;">
                        </i>
                    </a>
                </th>
                <th scope="col">
                    Address
                    <a href="?sort=shipping_address&order={{#if (and (eq currentSort 'shipping_address') (eq currentOrder 'asc'))}}desc{{else}}asc{{/if}}">
                        <i class="bi {{#if (eq currentSort 'shipping_address')}}{{#if (eq currentOrder 'asc')}}bi-caret-up-fill{{else}}bi-caret-down-fill{{/if}}{{else}}bi-chevron-expand{{/if}}" 
                        style="font-size:12px; color:#000;">
                        </i>
                    </a>
                </th>
                <th scope="col">
                    Payment 
                    <a href="?sort=payment_method&order={{#if (and (eq currentSort 'payment_method') (eq currentOrder 'asc'))}}desc{{else}}asc{{/if}}">
                        <i class="bi {{#if (eq currentSort 'payment_method')}}{{#if (eq currentOrder 'asc')}}bi-caret-up-fill{{else}}bi-caret-down-fill{{/if}}{{else}}bi-chevron-expand{{/if}}" 
                        style="font-size:12px; color:#000;">
                        </i>
                    </a>
                </th>
                <th scope="col">
                    Voucher 
                    <a href="?sort=discount&order={{#if (and (eq currentSort 'discount') (eq currentOrder 'asc'))}}desc{{else}}asc{{/if}}">
                        <i class="bi {{#if (eq currentSort 'discount')}}{{#if (eq currentOrder 'asc')}}bi-caret-up-fill{{else}}bi-caret-down-fill{{/if}}{{else}}bi-chevron-expand{{/if}}" 
                        style="font-size:12px; color:#000;">
                        </i>
                    </a>
                </th>
                <th scope="col">Status <i class="bi bi-chevron-expand"></i></th>
                <th scope="col" class="col_time">last update<i class="bi bi-chevron-expand"></i></th>
            </tr>
        </thead>
        <tbody>
            {{#if searchType}}
                {{#each searchOrder}}
                    <tr class="align-middle">
                        <td style="width:50px;"><input type="checkbox" name="" id=""></th>
                        <td class="col-1">
                            {{this.userName}}
                        </td>
                        <td class="col-2">
                            {{this.order_code}}
                        </td>
                        <td class="col-1">
                            {{this.orderDate}}
                        </td>
                        <td class="col-2">
                            {{this.shipping_address.address}}
                        </td>
                        <td class="col-1">
                            {{this.payment_method}}
                        </td>
                        <td class="col-2">
                            {{this.discountName}}
                        </td>
                        <td class="col_status">
                            {{#if (eq this.status 'Thành công')}}
                                <div class="status_comment status_comment is-center">
                                    Done
                                    <i class="bi bi-check2" ></i>
                                </div>
                            {{/if}}
                            {{#if (eq this.status 'Đang xử lý')}}
                                <div class="status_comment status_comment_pending is-center">
                                    Process
                                    <i class="bi bi-hourglass-split ms-2"></i>
                                </div>
                            {{/if}}
                            {{#if (eq this.status 'Thất bại')}}
                                <div class="status_comment status_comment_block is-center">
                                    Cancelled
                                    <i class="bi bi-x-circle ms-2"></i>
                                </div>
                            {{/if}}
                        </td>
                        <td class="col_time">
                            <p>{{this.lastUpdate}}</p>
                            <div class="layout is-center">
                                <div class="circle">
                                    <a href="/orders/{{this._id}}/edit">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                </div>
                                <div class="circle">
                                    <a href="/orders/{{this._id}}/deleted" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-user-model">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                                <div class="circle detail_btn" style="position: relative;overflow: unset;">
                                    <i class="bi bi-three-dots"></i>
                                    <div class="menu_model_user">
                                        <div class="view_user">
                                            <h5>View detail</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="/orders/details/{{this._id}}">
                                                    <i class="bi bi-cart"></i>
                                                    Details
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                {{#each orderFormat}}
                    <tr class="align-middle">
                        <td style="width:50px;"><input type="checkbox" name="" id=""></th>
                        <td class="col-1">
                            {{this.userName}}
                        </td>
                        <td class="col-2">
                            {{this.order_code}}
                        </td>
                        <td class="col-1">
                            {{this.orderDate}}
                        </td>
                        <td class="col-2">
                            {{this.shipping_address.address}}
                        </td>
                        <td class="col-1">
                            {{this.payment_method}}
                        </td>
                        <td class="col-2">
                            {{this.discountName}}
                        </td>
                        <td class="col_status">
                            {{#if (eq this.status 'Thành công')}}
                                <div class="status_comment status_comment is-center">
                                    Done
                                    <i class="bi bi-check2" ></i>
                                </div>
                            {{/if}}
                            {{#if (eq this.status 'Đang xử lý')}}
                                <div class="status_comment status_comment_pending is-center">
                                    Process
                                    <i class="bi bi-hourglass-split ms-2"></i>
                                </div>
                            {{/if}}
                            {{#if (eq this.status 'Thất bại')}}
                                <div class="status_comment status_comment_block is-center">
                                    Cancelled
                                    <i class="bi bi-x-circle text-danger ms-2"></i>
                                </div>
                            {{/if}}
                        </td>
                        <td class="col_time">
                            <p>{{this.lastUpdate}}</p>
                            <div class="layout is-center">
                                <div class="circle">
                                    <a href="/orders/{{this._id}}/edit">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                </div>
                                <div class="circle">
                                    <a href="/orders/{{this._id}}/deleted" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-user-model">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                                <div class="circle detail_btn" style="position: relative;overflow: unset;">
                                    <i class="bi bi-three-dots"></i>
                                    <div class="menu_model_user">
                                        <div class="view_user">
                                            <h5>View detail</h5>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="/orders/details/{{this._id}}">
                                                    <i class="bi bi-cart"></i>
                                                    Details
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
    <div class="page_bar is-center">
    {{#if (gt currentPage 1)}}
      <button class="next previous">
        <a href="?page={{subtract currentPage 1}}" style="color:#292828;">
            <i class="bi bi-chevron-left"></i>
            Previous
        </a>
      </button>
    {{/if}}
    {{#each (range 1 totalPage)}}
      {{#if (eq this ../currentPage)}}
        <button class="number_page active">
          <a href="?page={{this}}">{{this}}</a>
        </button>
      {{else}}
        <button class="number_page">
          <a style="color:#292828;" href="?page={{this}}">{{this}}</a>
        </button>
      {{/if}}
    {{/each}}
    {{#if (gt currentPage 1)}}
      <button class="next previous">
        <a href="?page={{add currentPage 1}}" style="color:#292828;">
            Next
            <i class="bi bi-chevron-right"></i>
        </a>
      </button>
    {{/if}}
  </div> 
</div>