<div class="heading_page">
    <h5>Dashboard <i class="bi bi-chevron-right"></i> Products</h5>
    <h2>Products</h2>
    <div class="option_table is-between">
        <div class="search">
            <div class="wrapper_search">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="search products">
            </div>
        </div>
        <div class="is-between search_right">
            <div class="export_btn">
                <i class="bi bi-file-earmark-arrow-down-fill"></i>
                Export
            </div>
            <div class="add_btn btn btn-primary btn_me">
                <a href="/products/add">
                    <i class="bi bi-plus-lg"></i> Add product
                </a>
            </div>
        </div>
    </div>
</div>

<div class="layout comments">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="column_checkbox"><input type="checkbox" name="" id=""></th>
                <th scope="col"></th>
                <th scope="col">Product <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">Price <i class="bi bi-chevron-expand"></i></th>
                <th scope="col" style="padding-left:40px" class="col_status">Stock <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">Unit <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">Description <i class="bi bi-chevron-expand"></i></th>
                <th scope="col" class="col_time">Time <i class="bi bi-chevron-expand"></i></th>
            </tr>
        </thead>
        <tbody>
            {{#each product}}
                <tr class="align-middle">
                    <td class="column_checkbox"><input type="checkbox" name="" id=""></th>
                    <td style="width:80px">
                        <div class="wrapper_img_product">
                            <a href="#" class="is-center" style="width:100%;">
                                <img src="{{this.image}}" alt="">
                            </a>
                        </div>
                    </td>
                    <td style="color: rgb(56, 116, 255);" class="col_product"><span>{{this.name}}</span></td>
                    <td class="col_custumer">{{this.price}}</td>
                    <td class="col_status" style="padding-left:40px">{{this.stock}}</td>
                    <td class="col_star">{{this.unit}}</td>
                    <td class="col_review"><p>{{this.description}}</p></td>
                    <td class="col_time">
                        <p>Just now</p>
                        <div class="layout">
                            <div class="circle"><i class="bi bi-check-lg"></i></div>
                            <div class="circle"><i class="bi bi-trash"></i></div>
                            <div class="circle"><i class="bi bi-three-dots"></i></div>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>