<div class="heading_page">
    <h5>Dashboard <i class="bi bi-chevron-right"></i> Users <i class="bi bi-chevron-right"></i> Edit User</h5>
    <h2>Edit User</h2>
    <h5>Edit a new users to your company</h5>
</div>

<div class="layout add_page ">
    <form action="/users/{{user._id}}?_method=PUT" method="post">
        <div class="col-6 level-left">
            <div class="level-top">
                <div class="heading">
                    <h2>Information User</h2>
                </div>
                <div class="layout">
                    <div class="form-group mt-3">
                        <label>Full Name</label>
                        <input type="text" class="form-control mt-2" name="name" value="{{user.name}}"  placeholder="Enter your name...">    
                    </div>
                    <div class="form-group mt-3">
                        <label>Email</label>
                        <input type="email" class="form-control mt-2" name="email" value="{{user.email}}"  placeholder="Enter your email...">    
                    </div>
                    <div class="form-group mt-3">
                        <label>Phone</label>
                        <input type="text" class="form-control mt-2" name="phone" value="{{user.phone}}"  placeholder="Enter your phone number...">    
                    </div>
                    <div class="form-group mt-3 mb-4">
                        <label>Address</label>
                        <input type="text" class="form-control mt-2" name="address" value="{{user.address}}"  placeholder="Enter your address...">    
                    </div>
                    <div class="form-group mt-3 mb-4">
                        <label>Birth</label>
                        <input type="date" class="form-control mt-2" name="birth" value="{{user.birthFormated}}">    
                    </div>
                </div>
            </div>
             
        </div>

        <div class="col-6 level-right">
            <div class="level-top mt-4">
                <div class="heading">
                    <h2>Account User</h2>
                </div>
                <div class="layout">
                    <div class="form-group mt-3">
                        <label>Avatar</label>
                        <input type="text" class="form-control mt-2" name="avatar" value="{{user.avatar}}"  placeholder="Enter your account...">    
                    </div>
                    <div class="form-group mt-3">
                        <label>Account</label>
                        <input type="text" class="form-control mt-2" name="account" value="{{user.account}}"  placeholder="Enter your account...">    
                    </div>
                    <div class="form-group mt-3">
                        <label>Password</label>
                        <input type="password" class="form-control mt-2" name="password" value="{{user.password}}"  placeholder="Enter your password...">    
                    </div>
                    <div class="form-group mt-3 mb-4">
                        <label>Authorization</label>
                        <select class="form-select mt-2" aria-label="Default select example" name="authour">
                            <option selected value="{{user.authour}}">{{user.authour}}</option>
                            <option value="admin">admin</option>
                            <option value="employee">employee</option>
                            <option value="customer">customer</option>
                        </select>    
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-save">
                <i class="bi bi-floppy me-2"></i>
                Save
            </button>
        </div>
    </form>
</div>
<div class="footer">
    Thank you for creating with HuyHung | 2024 © 
</div>

