<div class="heading_page">
    <h5>Dashboard <i class="bi bi-chevron-right"></i> Discount</h5>
    <h2>Discount</h2>
    <div class="option_table is-between">
        <div class="is-between search_right">
            <a href="/category/discount/add" class="add_btn btn btn-primary">
                <i class="bi bi-plus-lg"></i> Add discount
            </a>
            <div class="export_btn">
                <i class="bi bi-file-earmark-arrow-down-fill"></i>
                Export
            </div>
        </div>
    </div>
</div>

<div class="layout comments">
    <div class="title_table is-between">
        <div class="title">
            <h3>Discount list</h3>
            <p class="sub_heading">List of all discount on the website</p>
        </div>
        <div class="search is-center">
            <div class="wrapper_search">
                <form action="/category/discount">
                    <button type="submit" class="btn_position is-center"><i class="bi bi-search"></i></button>
                    <input type="text" name="timkiem" placeholder="Enter user name to search">
                </form>
            </div>
            <div class="seleted">All Discount</div>
            <div class="selection">
                <i class="bi bi-three-dots"></i>
            </div>
        </div>
    </div>
    <table class="table table_convert">
        <thead>
            <tr>
                <th scope="col"><input type="checkbox" name="" id=""></th>
                <th scope="col">title <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">description <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">type<i class="bi bi-chevron-expand"></i></th>
                <th scope="col">start<i class="bi bi-chevron-expand"></i></th>
                <th scope="col">end <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">status <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">max use <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">used <i class="bi bi-chevron-expand"></i></th>
                <th scope="col" class="col_time">Time <i class="bi bi-chevron-expand"></i></th>
            </tr>
        </thead>
        <tbody>
            {{#if searchType}}
                {{#each searchDiscount}}
                    <tr class="align-middle">
                        <td style="width:50px;"><input type="checkbox" name="" id=""></th>
                        <td class="col-2">
                            <p>{{this.title}}</p>
                        </td>
                        <td class="col-2">
                            <p>{{this.description}}</p>
                        </td>
                        <td class="col-1">
                            <p>{{this.discount_type}}</p>
                        </td>
                        <td class="col-1">
                            <p>{{this.startDate}}</p>
                        </td>
                        <td class="col-1">
                            <p>{{this.endDate}}</p>
                        </td>
                        <td class="col_status">
                            <div class="status_comment_approved status_comment is-center">
                                approved
                                <i class="bi bi-check2" ></i>
                            </div>
                        </td>
                        <td class="col-1">
                            <p>{{this.use_limit}}</p>
                        </td>
                        <td class="col-1">
                            <p>{{this.use_count}}</p>
                        </td>
                        <td class="col_time">
                            <p>{{this.lastUpdate}}</p>
                            <div class="layout">
                                <div class="circle">
                                    <a href="/category/discount/{{this._id}}/edit">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                </div>
                                <div class="circle">
                                    <a href="/category/discount/{{this._id}}/deleted" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-articles-model">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                                <div class="circle"><i class="bi bi-three-dots"></i></div>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                {{#each formatDiscount}}
                    <tr class="align-middle">
                        <td style="width:50px;"><input type="checkbox" name="" id=""></th>
                        <td class="col-2">
                            <p>{{this.title}}</p>
                        </td>
                        <td class="col-2">
                            <p>{{this.description}}</p>
                        </td>
                        <td class="col-1">
                            <p>{{this.discount_type}}</p>
                        </td>
                        <td class="col-1">
                            <p>{{this.startDate}}</p>
                        </td>
                        <td class="col-1">
                            <p>{{this.endDate}}</p>
                        </td>
                        <td class="col_status">
                            <div class="status_comment_approved status_comment is-center">
                                approved
                                <i class="bi bi-check2" ></i>
                            </div>
                        </td>
                        <td class="col-1">
                            <p>{{this.use_limit}}</p>
                        </td>
                        <td class="col-1">
                            <p>{{this.use_count}}</p>
                        </td>
                        <td class="col_time">
                            <p>{{this.lastUpdate}}</p>
                            <div class="layout">
                                <div class="circle">
                                    <a href="/category/discount/{{this._id}}/edit">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                </div>
                                <div class="circle">
                                    <a href="/category/discount/{{this._id}}/deleted" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-articles-model">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                                <div class="circle"><i class="bi bi-three-dots"></i></div>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
    <div class="page_bar is-center">
      {{#if (gt currentPage 1)}}
        <button class="next previous">
          <a href="?page={{subtract currentPage 1}}" style="color:#292828;">
              <i class="bi bi-chevron-left"></i>
              Previous
          </a>
        </button>
      {{/if}}
      {{#each (range 1 totalPage)}}
        {{#if (eq this ../currentPage)}}
          <button class="number_page active">
            <a href="?page={{this}}">{{this}}</a>
          </button>
        {{else}}
          <button class="number_page">
            <a style="color:#292828;" href="?page={{this}}">{{this}}</a>
          </button>
        {{/if}}
      {{/each}}
      {{#if (gt currentPage 1)}}
        <button class="next previous">
          <a href="?page={{add currentPage 1}}" style="color:#292828;">
              Next
              <i class="bi bi-chevron-right"></i>
          </a>
        </button>
      {{/if}}
    </div>
</div>