<div class="heading_page">
    <h5>
        Dashboard <i class="bi bi-chevron-right"></i> 
        Category <i class="bi bi-chevron-right"></i> 
        Discount  <i class="bi bi-chevron-right"></i>
        Edit discount
    </h5>
    <h2>Edit Discount</h2>
    <h5>Edit a new discount to your company</h5>
</div>

<div class="layout add_page ">
    <form action="/category/discount/{{discount._id}}?_method=PUT" method="post">
        <div class="col-6 level-left">
            <div class="level-top">
                <div class="heading">
                    <h2>Discount Information</h2>
                </div>
                <div class="layout">
                    <div class="form-group mt-3">
                        <label>Titile</label>
                        <input type="text" class="form-control mt-2" name="title" value="{{discount.title}}" placeholder="Enter title for discount...">    
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label>Description</label>
                        <textarea class="form-control mt-2 mb-3" name="description" rows="7" placeholder="Enter content for discount...">{{discount.description}}</textarea>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-6 level-right">
            <div class="level-top">
                <div class="heading">
                    <h2>Discount Value</h2>
                </div>
                <div class="layout">
                    <div class="form-group mt-3 mb-2">
                        <label>Type Discount</label>
                        <select class="form-select mt-2" aria-label="Default select example" name="discount_type">
                            <option selected value="{{discount.discount_type}}">{{discount.discount_type}}</option>
                            <option value="giảm theo phần trăm">giảm theo phần trăm</option>
                            <option value="giảm theo số tiền cố định">giảm theo số tiền cố định</option>
                            <option value="giảm theo khách hàng vip">giảm theo khách hàng vip</option>
                            <option value="giảm giá theo thời gian">giảm giá theo thời gian</option>
                            <option value="giảm giá theo mã giảm giá">giảm giá theo mã giảm giá</option>
                        </select> 
                    </div>
                    <div class="form-group mt-3 mb-2">
                        <label>Discount Value</label>
                        <input type="number" class="form-control mt-2" name="value_discount" value="{{discount.value_discount}}" placeholder="Input a number at least zero..." min="0">    
                    </div>
                    <div class="form-group mt-3 mb-2">
                        <label>Minimum Purchase Amount</label>
                        <div class="input-group mt-2 mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">VND</span>
                            </div>
                            <input type="number" name="minimum_purchase" value="{{discount.minimum_purchase}}" class="form-control" placeholder="Input a number at least zero..." min="0">
                        </div>    
                    </div>
                    <div class="form-group mt-3 mb-2">
                        <label>Use Limit</label>
                        <input type="number" class="form-control mt-2" name="use_limit" value="{{discount.use_limit}}" placeholder="Enter your text...">    
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label>End Date</label>
                        <input type="date" class="form-control mt-2" name="end_date" value="{{{discount.formatDate}}}">    
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-save">
                <i class="bi bi-floppy me-2"></i>
                Save Discount
            </button>
        </div>
    </form>
</div>
<div class="footer">
    Thank you for creating with HuyHung | 2024 © 
</div>

